<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
   
</head>
<body>
    <div>
        <div>
            <header> <h1>Hello Vue</h1></header>
            <nav></nav>
            <section>
                <h1>Inicio</h1>
               
                <div id="myAppFor">
                    
                             <h4>Estudiantes uce</h4>
                    <input type="text" v-model="nombre" v-on:keypress.enter="ingresarEstu">
                    <h1>{{nombre}}</h1>
                    <hr>
                    <h1>Lista estudiantes</h1>

                    <!-- <ul>
                       <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                        <li>{{arreglo}}</li>
                        <li>{{arreglo[0]}}</li>
                        <li>{{arreglo[1].nombre}}</li>
                        <li>{{arreglo[2]}}</li>
                        <li>{{arreglo[3].apellido}}</li>
                        <li>{{arreglo[4]}}</li>
                        <li>{{arreglo[5].nombre + arreglo[5].apellido }}</li>
                        <li>{{arreglo[6]}}</li>
                        <li>{{arreglo[7]}}</li>
                        <li>{{arreglo[8]}}</li>
                        <li>{{arreglo[9]}}</li>
                        <li>{{arreglo[10]}}</li>
                        <li> <strong> Con v-for</strong></li>
                       
                        
                    </ul>-->
                    <ul>

                      <!--  <li v-for="estu in arreglo"> 
                            <span>{{estu.nombre}}</span>
                            <blockquote>{{estu.apellido}}</blockquote>
                        </li>-->
                      <!--  <li v-for="{nombre,apellido} in arreglo"> 
                            <span>{{nombre}}</span>
                            <blockquote>{{apellido}}</blockquote>
                        </li>
                        <li><strong>otro ejemplo</strong></li>
                        <li v-for="(estu,index) in arreglo"> 
                            <span>{{index+1}} - {{estu}}</span>
                            
                        </li> -->

                        <li v-for="({nombre,apellido},index) in arreglo"> 
                            <span>{{index+1}} - {{nombre}}</span>
                            <blockquote v-if="apellido!==undefinded"> Apellido: {{apellido}}</blockquote>
                            <blockquote v-show="apellido!==undefinded"> Apellido v show: {{apellido}}</blockquote>

                        </li>
                    </ul>

                    
                </div>
                <h1>fin</h1>
            </section>
            <footer></footer>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   
    <script src="../js/vfor.js"></script>
</body>
</html>